@import '../global/variables.sass'

.MyServices
  
  padding: 50px 0
  position: relative
  background-color: white

  &.theme-dark
    background-color: $darkcustom
    .MyServices--info
      h2, p
        color: white

  // &::before
  //   content: ''
  //   position: absolute
  //   bottom: 0
  //   left: 0
  //   width: 100%
  //   height: 15%
  //   background-color: $darkcustom
  //   @include maxTabletPortrait
  //     display: none

  &--grid
    position: relative
    z-index: 2
    img
      border: 2px solid white

  &--info
    width: 100%
    max-width: 600px
    margin: 0 auto
    padding: 15px

    h4
      color: $greenlight
      font-family: $fontprincipal
      font-weight: 600
    h2
      // color: $greenlight
      color: $darkcustom
      margin: 10px 0
      line-height: 1.25
    p
      line-height: 1.75
      color: $darkcustom
    a
      &.link
        color: green
        text-decoration: underline
        font-weight: 600      
    ul
      display: flex
      flex-wrap: wrap
      margin: 30px 0 15px
      @include maxMobile
        display: block
      li
        width: 50%
        @include maxMobile
          width: 100%
        @include flexCenter
        margin-bottom: 20px
        span
          width: 9px
          height: 9px
          border-radius: 50%
          // background-color: $purplelight
          border: 2px solid $greenlight
          margin: 0 10px 0 0
          @include flexCenter
          color: white
          font-family: $fonttitulos
          line-height: 1
          text-align: center
          font-size: 1.2rem
        p
          line-height: 1.1
          font-size: 1rem
          margin-right: auto


