@import '../global/variables.sass'

.RecentProjects
  background-color: $darkcustom
  padding: 50px 0
  overflow: hidden
  @include tabletPortraitToDesktopSmall
    padding: 15px 0 50px
  @include phabletToTablet
    padding: 50px 0


  &.theme-dark
    background-color: $darkcustom
    padding-top: 0
    h2
      color: $darkcustom
      margin: 0 0 
    .o-container
      background-color: white
      padding-top: 70px
      padding-bottom: 50px
      border-bottom-left-radius: 15px
      border-bottom-right-radius: 15px
    .RecentProjects--project,
    .arrows-container .arrowfli
      background-color: $darkcustom
    .RecentProjects--project-details span.badge
      color: $darkcustom
  
  h2
    color: white
    margin-bottom: 50px

  &--project
    text-align: right
    background-color: $purplelight
    width: 100%
    max-width: 1024px
    margin: 0 auto 30px
    // border-radius: 6px    
    @include flexCenter
    @include maxTabletPortrait
      display: block
      text-align: center
      padding: 20px 20px 40px
    &-data
      width: 100%
      max-width: 470px
      padding: 30px 15px
      @include phabletToTablet
        padding: 20px
      @include maxTabletPortrait
        max-width: 600px
        margin: 0 auto 20px
    &-logo
      width: 100%
      max-width: 170px
      margin-left: auto
      @include maxTabletPortrait
        margin-right: auto
    h3, p
      color: white
    h3
      margin: 20px 0
      line-height: 1.5
      color: $greenlight
    p
      line-height: 1.5
      font-size: 1.1rem
    
    &-details
      margin: 20px 0 
      h4
        color: $yellowbase
        margin: 0 0 10px
      p
        font-size: 1.05rem
        margin: 10px 0 20px
        line-height: 1
        span
          color: $greenlight
          font-weight: bold
      span.badge
        display: inline-flex
        align-items: center
        justify-content: center
        padding: 5px 10px
        font-size: .8rem
        margin: 10px 5px 
        font-weight: 600
        color: $purplelight
        background-color: $greenlight
        border-radius: 3px

    // Project Picture 
    &-pic
      width: 100%
      max-width: 500px
      @include maxTabletPortrait
        margin: 0 auto 
      img
        position: relative
        right: -60px
        @include phabletToTablet
          right: -15px
        @include maxTabletPortrait
          right: 0



  // Flicking
  .flicking-viewport
    display: flex
    flex-flow: column-reverse
  // Arrow
  .arrows-container
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    max-width: 1024px
    margin: 0 auto 20px
    @include maxTabletLandscape
      padding: 0 15px
    .arrowfli
      position: relative
      transform: unset
      border-radius: 0
      background-color: $purplelight
      left: 0
      right: 0
      @include minTabletLandscape
        transform: scale(.75)
      &.flicking-arrow-disabled
        background-color: transparent
        opacity: .5
