@import '../global/variables.sass'

.RecentProjects
  background-color: $darkcustom
  // padding: 50px 0
  padding: 0 0
  overflow: hidden
  @include tabletPortraitToDesktopSmall
    padding: 15px 0 50px
  @include phabletToTablet
    padding: 50px 0


  &.theme-color
    background-color: $greenlight
    padding: 30px 0
    .o-container
      background-color: $darkcustom
    h2
      color: $darkcustom
      margin: 0 0 
    .RecentProjects--project,
    .arrows-container .arrowfli
      background-color: $darkcustom
    .RecentProjects--project-details span.badge
      color: $darkcustom
    // begins project custom
    .RecentProjects--project
      margin-bottom: 0
      width: 100%
      max-width: $desktop-1280
      padding: 50px 20px
    .RecentProjects--project-data
      h5
        color: white
    .RecentProjects--project-pic
      width: 100%
      min-width: 550px
      max-width: 550px
      height: 550px
      @include flexEndCenter
      border-radius: 50%
      overflow: hidden
      background-color: $greenlight
      margin: 0 auto
      img
        max-width: 500px


    .RecentProjects--project-data
      width: 25%
      display: flex
      flex-flow: column
      .RecentProjects--project-details      
        margin-top: auto
    .RecentProjects--project-about
      width: 25%
      margin-top: auto
      text-align: left
      p
        line-height: 1.5
        margin-bottom: 50px
        font-size: .9rem
        a
          display: block
          margin-top: 15px
          text-decoration: underline

  &.theme-dark
    background-color: $darkcustom
    padding-top: 0
    h2
      color: $darkcustom
      margin: 0 0 
    .RecentProjects--project,
    .arrows-container .arrowfli
      background-color: $darkcustom
    .RecentProjects--project-details span.badge
      color: $darkcustom
  
  h2
    color: white
    margin-bottom: 50px

  &--project
    text-align: right
    background-color: $purplelight
    width: 100%
    max-width: 1024px
    margin: 0 auto 30px
    // border-radius: 6px    
    // @include flexCenter
    display: flex
    @include maxTabletPortrait
      display: block
      text-align: center
      padding: 20px 20px 40px
    &-data
      width: 100%
      max-width: 470px
      // padding: 30px 15px
      @include phabletToTablet
        padding: 20px
      @include maxTabletPortrait
        max-width: 600px
        margin: 0 auto 20px
    &-logo
      width: 100%
      max-width: 170px
      margin-left: auto
      @include maxTabletPortrait
        margin-right: auto
    h3, p
      color: white
    h3
      margin: 10px 0
      line-height: 1.5
      color: $greenlight
    p
      line-height: 1.5
      font-size: 1.1rem
    
    &-details
      margin: 20px 0 0
      h4
        color: $yellowbase
        margin: 0 0 10px
      p
        font-size: 1.05rem
        margin: 10px 0 0px
        line-height: 1
        span
          color: $yellowbase
          font-weight: bold
      span.badge
        display: inline-flex
        align-items: center
        justify-content: center
        padding: 5px 10px
        font-size: .8rem
        margin: 10px 10px -10px 0
        font-weight: 600
        color: white
        background-color: $greenlight
        border-radius: 3px

    // Project Picture 
    &-pic
      width: 100%
      max-width: 500px
      @include maxTabletPortrait
        margin: 0 auto 
      img
        position: relative
        // right: -60px
        // @include phabletToTablet
        //   right: -15px
        // @include maxTabletPortrait
        //   right: 0



  // Flicking
  .flicking-viewport
    display: flex
    flex-flow: column-reverse
  // Arrow
  .arrows-container
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    max-width: 1024px
    margin: 0 auto 20px
    @include maxTabletLandscape
      padding: 0 15px
    .arrowfli
      position: relative
      transform: unset
      border-radius: 0
      background-color: $purplelight
      left: 0
      right: 0
      @include minTabletLandscape
        transform: scale(.75)
      &.flicking-arrow-disabled
        background-color: transparent
        opacity: .5
