@import '../global/variables.sass'
.Skills
  padding: 40px 0 80px 
  position: relative
  &::before
    display: none
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 50%
    background-color: $darkcustom
  h2
    color: $darkcustom

  @include maxMobile
    padding: 60px 0

  &--cards-container
    margin: 80px auto 0
    position: relative
    
    @include maxMobile
      margin: 60px 0 30px

  .Skills--card
    width: 90%
    margin: 0 auto
    overflow: hidden
    box-shadow: rgb(161 161 161 / 20%) 0px 30px 20px -3px
    border-radius: 6px
    position: relative
    border: 2px solid #fff
    height: 250px
    display: block
    &.theme-yellow
      .Skills--card-sideText::before
        background-color: $yellowbase
      .Skills--card-sideText span::before,
      .Skills--card-sideText span
        border-color: $yellowbase
      .Skills--card-desc .link svg
        fill: $yellowbase
        stroke: $yellowbase

    &.card-active
      .Skills--card-desc
        transform: translateX(-60vmin)
      .Skills--card-body
        transform: translateX(0vmin)
    img
      width: 100%
      height: 100%
      position: relative

    @include maxPhablet
      margin: 0 auto 30px

    @include maxMobile
      margin: 0 auto 40px 
      box-shadow: none
      border: 1px solid #ccc
      border-radius: 6px
    

  .Skills--card-desc
    position: absolute
    left: 0
    top: 0
    width: 40%
    height: 100%
    background-color: $darkcustom
    padding: 15px 20px
    display: flex
    flex-wrap: wrap
    transition: .2s ease-in-out
    z-index: 5
    transform: translateX(0)
    // display: none
    &::before
      // display: none
      content: ''
      position: absolute
      top: 15px
      left: 10px
      height: 100%
      max-height: 220px
      width: 2px
      background-color: $greenlight
      border-radius: 50px
    .Skills--card-title
      font-size: 1.15rem
      font-weight: 700
      line-height: 1.35
      width: 100%
      color: white
      font-family: $fonttitulos
    .Skills--card-more
      @include flexCenter
      line-height: 1
      margin-top: auto
      font-size: .65rem
      width: 100%
      max-width: 100px
      text-align: center
      font-weight: 600
      position: relative
      border-radius: 30px
      border: 2px solid $greenlight
      text-transform: uppercase
      color: white
      font-family: $fontprincipal
      padding: 0 0 0 7px
      height: 20px
      &::before
        display: block
        content: ''
        position: relative
        width: 10px
        height: 10px
        border-radius: 50%
        border: 2px solid $greenlight
        margin: 0 5px 0 -5px

  .Skills--card-body
    position: absolute
    left: 0
    top: 0
    width: 60%
    height: 100%
    background-color: $darkcustom
    padding: 15px 20px
    transition: .3s ease-in-out
    transform: translateX(-60vmin)    
    display: flex
    flex-wrap: wrap
    span
      font-weight: 600
      line-height: 1.5
      text-align: right
      width: 100%
      color: white
    .link
      display: block
      margin-top: auto
      font-size: .8rem
      text-align: right
      width: 100%
      color: white
      svg
        fill: $greenlight
        stroke: $greenlight



