@import '../global/variables.sass'
.Statistics
  padding: 0px 0 70px
  position: relative
  bottom: 0
  left: 0
  width: 100%
  z-index: 6
  position: relative
  z-index: 1  
  // @include maxPhablet
  //   padding: 50px 0
  // @include maxMobile
  //   padding: 40px 0
  //   margin-bottom: 40px
  // @include maxMobilePortrait
  //   margin-bottom: 0px


  &.theme-dark
    background-color: $darkcustom
    padding: 0 0 100px
    margin-top: -100px
    margin-top: 0
    @include maxMobile
      padding: 25px 0
    @include maxMobilePortrait
      padding: 15px 0    
    .o-container
      background-color: white
      padding: 60px 0 
      border-radius: 15px
      @include mobileToPortrait
        padding: 30px 10px 10px
      @include maxMobile
        padding: 30px 10px 15px
      // max-width: 1140px
      // border-bottom-left-radius: 0
      // border-bottom-right-radius: 0

    .Statistics--info
      h3
        color: $greenlight
      p
        color: $darkcustom

  .o-grid-row
    .col
      @include minTabletPortrait
        border-left: 1px solid $greenlight
      &:first-child
        border-left: 0
      &:last-child
        .Statistics--info
          @include maxMobile
            margin-bottom: 0
            padding-bottom: 0

  h2
    text-align: center
    margin: 0 auto 80px
    width: 100%
    max-width: 890px
    @include mobileToPortrait
      margin-bottom: 50px
      padding: 0 10px
    @include maxMobile
      margin-bottom: 30px
      padding: 0 10px
    @include maxMobilePortrait
      margin-bottom: 30px
      line-height: 1.35
      padding: 0 10px
    span
      color: $greenlight
      // text-decoration: underline

  &--info
    @include maxTabletPortrait
      width: 100%
      margin: 20px auto 40px

    h3, p
      text-align: center
      color: $darkcustom
    h3
      font-size: 3.3rem
      color: $greenlight
      @include maxMobile
        font-size: 2.5rem
      @include maxMobileLandscape
        font-size: 2.75rem
    p
      font-size: .9rem
      font-weight: 600
      padding: 0 10px
      text-align: center
      @include maxMobileLandscape
        font-size: .75rem




// If is used in herobanner
.HeroBanner
  .Statistics
    @include minTabletPortrait
      position: absolute
      max-width: 40%
      left: 10%
      bottom: 0
      padding-top: 0
    @include tabletLandscapeDesktop1280
      max-width: 50%
      left: 0%
    @include tabletPortraitToTabletLandscape
      max-width: 50%
      left: 0%
    @include mobileToPortrait
      background-color: $darkcustom
      position: relative
      max-width: 530px
      margin: 0 auto
      z-index: 6
      padding: 30px 0 0
      top: -100px
    @include maxMobileLandscape
      padding: 10px 0 50px
    &--info 
      h3
        @include tabletLandscapeDesktop1280
          font-size: 2.75rem
        @include tabletPortraitToTabletLandscape
          font-size: 2.5rem
        @include mobileToPortrait
          font-size: 2.5rem
        @include maxMobileLandscape
          font-size: 2.25rem
        @include maxMobilePortrait
          font-size: 1.75rem
      p
        @include tabletLandscapeDesktop1280
          font-size: .8rem
        @include tabletPortraitToTabletLandscape
          font-size: .75rem
        @include mobileToPortrait
          font-size: .7rem
        @include maxMobileLandscape
          font-size: .75rem
        @include maxMobilePortrait
          font-size: .6rem
    