@import '../../assets/sass/global/_variables'

.HistorySection

  &.theme-dark
    background-color: $darkcustom
    padding: 70px 0 
  
  &--line
    position: relative
    margin: 0 0 75px
    padding-bottom: 75px
    &.theme-jobs
      .HistorySection--intro
        background-color: $darkcustom
        h4
          background-color: $greenlight
      .HistorySection--work-company
        h2
          color: $greenlight
    &.theme-school
      .HistorySection--intro
        background-color: $darkcustom
        h4
          background-color: $yellowbase
      .HistorySection--work-company h2,
      .HistorySection--work-desc h5
        color: $yellowbase
    &.theme-courses
      .HistorySection--intro
        background-color: $darkcustom
        h4
          background-color: $purplelight
      .HistorySection--work-company h2,
      .HistorySection--work-desc h5
        color: $purplelight
      
    &:last-child
      margin: 0 0
      padding: 0 0
    &:nth-child(even)
      .HistorySection--intro
        img
          left: 30px
    &:nth-child(odd)
      .HistorySection--intro
        img
          right: 0px
    @include flexStart
    align-items: flex-start
    

  &--intro
    width: 100%
    max-width: 450px
    border: 2px solid white
    text-align: right
    h4,p
      color: white
      position: relative
      z-index: 2
    h4
      padding: 15px 
      color: $darkcustom      
    p
      font-size: .9rem
      font-weight: 600
      color: white
      margin: 0 0 0
      padding: 20px 15px
      line-height: 1.75
    img
      position: absolute
      top: 100%
      max-width: 100%
  &--table
    width: 100%
    max-width: 850px
    margin-left: auto
  &--work
    width: 100%
    margin-bottom: 40px
    padding-bottom: 40px
    border-bottom: 1px solid rgba(255,255,255,.15)
    &:last-child
      border-bottom: 0
      margin-bottom: 0
      padding-bottom: 0
    @include flexTopLeft

    &-company
      width: 35%
      h3
        text-align: left
        color: white
        font-size: 1.6rem
      h2
        text-align: left
        color: $yellowbase
        text-transform: uppercase
        font-size: 1rem
        margin: 7px 0 5px
    &-desc
      width: 60%
      margin: 0 0 0 auto
      position: relative
      p
        color: white
        line-height: 1.5
        font-size: .9rem
        text-align: justify
        position: relative
        z-index: 2
      h5
        color: $greenlight
        opacity: 0.25
        position: absolute
        bottom: -30px
        right: -30px
        font-size: 2.5rem
        z-index: 1
